body{
	background-color:white;
}

/*Nav Bar*/
.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f7eee6;
}

.nav li{
	float: left;
}

.nav li a{
	display: inline-block;
	color: blue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav li a:hover{
	background-color: gray;
}


/*CSS for smiley face*/
.face{cc
  width:75px;
  height: 75px;
  border: solid 2px black;
  background-color: yellow;
  border-radius: 40px;
  position:absolute;
}
.left-eye{
  width:6px;
  height:6px;
  border: solid 1px black;
  background-color: black;
  border-radius:3px;
  position: relative;
  left:32px;
  top:26px;
}
#inner-eye{
  width:2px;
  height:2px;
  border: solid 1px white;
  background-color: white;
  border-radius:2px;
  position:relative;
  left:2px;
  top:2px;
}
.right-eye{
  width:6px;
  height:6px;
  border: solid 1px black;
  background-color: black;
  border-radius:3px;
  position: relative;
  left:52px;
  top:18px;
}
.mouth{
  width:30px;
  height:10px;
  border: solid 1px black;
  border-radius:0px 0px 45px 45px;
  background-color: black;
  margin: 16px;
  position: relative;
  left: 1em;
  top: .75em;
}
.eyebrow{
  width: 10px;
  height: 2px;
  background-color: black;
  position: relative;
  left: 0px;
  bottom: 7px;
  }
.project{
	width: 300px;
	height: 300px;
}